*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.idea
.project
.DS_Store
.cache
.thrust-dev.json
.thrust-prod.json
pids
log
data
results
coverage
node_modules
build
test
.travis.yml
.npmignore
.editorconfig
.jshintrc
logs
