body {
  border: 0;
  margin: 0;
  background: #eee;
}

body,
th,
td,
div {
  font: normal 16px Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

#_head {
  background: #235;
  border: 0 solid #000;
  border-width: 1px 0;
}

#_logo {
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  text-shadow: 0.02em 0.04em 0.01em #000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=45);
  text-decoration: none;
}

h1 {
  margin: 0 0 0 -0.3em;
  font-size: 1.2em;
}

#_logo img {
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  margin: 0 0.4em 0 0;
  vertical-align: middle;
}

#_logo u {
  font-weight: 300;
  opacity: 0.6;
  padding: 0.1em 0.3em;
  font-size: 0.9em;
  text-decoration: none;
}

#_body {
  background: #f8f8f8;
}

#_foot {
  color: #555;
  font-size: 1.2em;
}

br {
  clear: both;
}

._box, ._box12 {
  padding: 1em;
}

._box1, ._box2, ._box3,
._box4, ._box5, ._box6,
._box7, ._box8, ._box9,
._box10, ._box11 {
  float: left;
  padding: 1em;
}

._box1 { width: 8.33%; }
._box2 { width: 16.67%; }
._box3 { width: 25%; }
._box4 { width: 33.33%; }
._box5 { width: 41.67%; }
._box6 { width: 50%; }
._box7 { width: 58.33%; }
._box8 { width: 66.67%; }
._box9 { width: 75%; }
._box10 { width: 83.33%; }
._box11 { width: 91.67%; }

._right { float: right; }

._alignRight { text-align: right; }
